h6 {
  font-size: 16px;
  text-transform: capitalize;
  color: #131212;
  margin-bottom: 40px;
}

input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fbb710;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fbb710;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.wrapper__adamd-product {
  margin-right: 75px;
}

.category {
  width: calc(100% - 320px);
}
.category .navbar__mobi {
  display: none;
}

.shop__products {
  position: relative;
  display: flex;
}

.shop {
  position: relative;
  width: 280px;
  max-width: 28s0px;
  flex: 280px;
  background-color: #f5f7fa;
  padding: 100px 40px;
}
.shop__categorys {
  margin-bottom: 50px;
}
.shop__categorys-list {
  margin-left: 20px;
}
.shop__categorys-list li {
  padding: 15px 0;
}
.shop__categorys-list-type {
  font-size: 16px;
  color: #a0a0a0;
  font-weight: 400;
  transition: all 0.4s;
}
.shop__categorys-list-type:hover {
  color: #fbb710;
}
.shop__categorys-list-type.active {
  color: #fbb710;
}
.shop__barnd {
  margin-bottom: 50px;
}
.shop__barnd .form-check {
  padding-bottom: 40px;
}
.shop__barnd .form-check-label {
  padding-left: 5px;
  padding-bottom: 20px;
  font-size: 16px;
  color: #a0a0a0;
  font-weight: 400;
  transition: all 0.4s;
}
.shop__barnd .form-check-label:hover {
  color: #fbb710;
}
.shop__color {
  margin-bottom: 50px;
}
.shop__color .chosse-colors {
  display: flex;
  flex-wrap: wrap;
}
.shop__color .chosse-colors_item {
  width: 30px;
  height: 30px;
  background-color: #fbb710;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.shop__color .chosse-colors_item.color1 {
  background-color: #fff;
}
.shop__color .chosse-colors_item.color2 {
  background-color: #a0a0a0;
}
.shop__color .chosse-colors_item.color3 {
  background-color: #131212;
}
.shop__color .chosse-colors_item.color4 {
  background-color: blue;
}
.shop__color .chosse-colors_item.color5 {
  background-color: #e73e7f;
}
.shop__color .chosse-colors_item.color6 {
  background-color: #fbb710;
}
.shop__color .chosse-colors_item.color7 {
  background-color: #3ee7a1;
}
.shop__color .chosse-colors_item.color8 {
  background-color: #14d6c6;
}
.shop__price-product .slider-track {
  position: relative;
  height: 2px;
  background-color: #fbb710;
}
.shop__price-product .slider {
  position: relative;
  height: 2px;
  background-color: #c7d2d8;
}
.shop__price-product .range-input {
  position: relative;
}
.shop__price-product .range-input .range-slider {
  position: absolute;
  width: 100%;
  height: 2px;
  top: -2px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.shop__price-product .range-price {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  text-transform: uppercase;
  color: #959595;
}
.shop__price-product .price-input {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  color: #959595;
}

.product {
  width: 100%;
  padding-top: 100px;
}
.product__topbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 40px;
  margin: 0 15px;
}
.product__topbar__total p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #242424;
  text-transform: uppercase;
}
.product__topbar__total .view {
  display: flex;
}
.product__topbar__total .view-interface {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}
.product__topbar__total .view-interface.square {
  background-color: #fbb710;
}
.product__topbar__total .view-interface.column {
  background-color: #131212;
}
.product__topbar__sorting {
  display: flex;
  margin-top: 28px;
}
.product__topbar__sorting .list {
  overflow: hidden;
  opacity: 0;
}
.product__topbar__sorting p {
  margin-bottom: 0;
  font-size: 14px;
  height: 40px;
  background-color: #f5f7fa;
  line-height: 40px;
  color: #959595;
  padding-left: 15px;
}
.product__topbar__sorting .select {
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding-left: 0;
  line-height: 40px;
  margin: 0;
  background-color: #f5f7fa;
  border-radius: 0;
  text-align: center !important;
  min-width: 100px;
}
.product__topbar__sorting .sort-date {
  display: flex;
  margin-right: 15px;
}
.product__topbar__sorting .view-product {
  display: flex;
}
.product .all__product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product .all__product .single__product {
  display: flex;
  flex: 50%;
  width: 50%;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 15px;
}
.product .all__product .single__product-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.product .all__product .single__product-img .product-img {
  width: 100%;
  transition-duration: 0.5s;
}
.product .all__product .single__product-img .hover-img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition-duration: 0.5s;
}
.product .all__product .single__product:hover .single__product-img .hover-img {
  visibility: visible;
  opacity: 1;
}
.product .all__product .single__product-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product .all__product .single__product-text .product__meta-data .line {
  width: 80px;
  height: 3px;
  background-color: #fbb710;
  margin-bottom: 15px;
  display: block;
}
.product .all__product .single__product-text .product__meta-data p {
  line-height: 1;
  color: #fbb710;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.product .all__product .single__product-text .product__meta-data .h6 {
  color: #242424;
  line-height: 1.3;
  font-weight: 400;
}
.product .all__product .single__product-text .product-item {
  margin-top: 20px;
}
.product .all__product .single__product-text .product-item .item {
  padding-bottom: 10px;
}
.product .all__product .single__product-text .product-item .item i {
  font-size: 10px;
  color: #fbb710;
}
.product .all__product .single__product-text .product-item .cart {
  margin-left: 50px;
}

@media screen and (max-width: 1199px) {
  .wrapper__adamd-product {
    margin-right: 0;
  }

  .shop {
    flex: 320px;
    width: 320px;
  }

  .product .product__topbar {
    flex-direction: column;
  }
  .product .all__product .single__product {
    width: 100%;
    flex: 100%;
  }
}
@media screen and (max-width: 769px) {
  .category {
    width: 100%;
    position: relative;
  }
  .category .navbar__mobi {
    display: block;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fff;
    z-index: 33;
    height: 70px;
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .category .navbar__mobi-logo .logo-adamd {
    width: 70px;
    height: 30px;
  }
  .category .navbar__mobi-toggler {
    cursor: pointer;
  }
  .category .navbar__mobi-toggler span {
    background-color: #fbb710;
    width: 30px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
    border-radius: 2px;
  }

  .shop__products {
    flex-direction: column-reverse;
  }
  .shop__products .shop {
    width: 100%;
    flex: 100%;
  }
  .shop__products .product .product__topbar {
    flex-direction: row;
  }
  .shop__products .product .all__product .single__product {
    width: 50%;
    flex: 50%;
  }
}

/*# sourceMappingURL=shop.css.map */
